extends common

block head
    link(rel='stylesheet', href='/stylesheets/costing.css')
    //- link(rel='stylesheet', href='/jquery-ui-1.12.1/jquery-ui.min.css')
    link(rel='stylesheet', href='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/style.min.css')
    script(src='../javascripts/Chart.bundle.min.js')
    script.
        tenant="#{tenant}"
    script.
        wsId="#{wsId}"
    script.
        dmsId="#{dmsId}" 
    script.
        options="#{options}"
block content
    script(src='/jquery-ui-1.12.1/jquery-ui.min.js')
    script(src='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/viewer3D.min.js') 
    //- script(src='/javascripts/MultipleModelUtil.js')
    script(src='/javascripts/ui.js')
    script(src='/javascripts/forge.js')
    script(src='/javascripts/costing.js')
    
    #header.dark
        #header-logo
        #header-title= title
        #header-subtitle Assembler 
            select#factories
                option(value="") - not defined -
            #include-assembly-cost.button 
                .zmdi.zmdi-circle-o
                .zmdi.zmdi-dot-circle
                span Include assembly cost
                span#standard-assembly-cost
            #include-freight-cost.button 
                .zmdi.zmdi-circle-o
                .zmdi.zmdi-dot-circle
                span Include freight cost
                span#standard-freight-cost
        #header-toolbar
            #save.button.default Save
            #save-new.button Save as new
    #top

        #artwork

        #model
            .line
                .line-label Brand
                #brand.line-value 
            .line 
                .line-label Model Code 
                #model-code.line-value 
            .line
                .line-label Model Name 
                #model-name.line-value
            .line
                .line-label Segment 1
                #segment-1.line-value
            .line
                .line-label Segment 2
                #segment-2.line-value

        #cost
            .line
                #material-cost.line-value
                .line-unit €
                .line-label Material Cost
            .line
                #assembly-cost.line-value
                .line-unit €
                .line-label Assembly Cost
            .line
                #freight-cost.line-value
                .line-unit €
                .line-label Freight Cost
            .line
                #freight-upcharge.line-value
                .line-unit %
                .line-label Coeff. on mat. Cost
            .line
                #total-cost.line-value
                .line-unit €
                .line-label Total Cost

        #targets
            .line 
                .line-label Target Retail Price
                #target-retail-price.line-value ?
                .line-unit €
            .line 
                .line-label Dealer Coeff.
                #dealer-coeff.line-value ?
                .line-unit
            .line 
                .line-label Target Margin
                #target-margin.line-value ?
                .line-unit %
            .line 
                .line-label Dealer Price
                #dealer-price.line-value ?
                .line-unit €
            .line 
                .line-label Target Cost Price
                #target-cost-price.line-value ?
                .line-unit €

        #achievement.startup     
            #achievement-cost.line 
                .label Actual Cost 
                .values
                    #actual-cost.line-value 0
                    #actual-cost-diff.line-value (-1)
            #achievement-margin.line 
                .label Actual Margin 
                .values
                    #actual-margin.line-value 88
                    #actual-margin-diff.line-value (-12)

    #tabs
        .tab(data-id='bom') Bill of Materials
        .tab(data-id='additional') Assembly &amp; Shipping Cost
        .tab(data-id='comparison') Cost Sheet Comparison

    #bom.content
        table#bom-table
            thead
                tr 
                    th Item     
                    //- th Check BOM 
                    th
                    th PN Factory (ERP)     
                    th Description 
                    //- th 3D reference
                    th Status
                    th
                    th Supplier
                    th Supplier PN 
                    th Part Type
                    th Lead Time 
                    th Comments
                    th Unit Cost 
                    th Discount 
                    th Quantity 
                    th.th-currency Cur 
                    th Unit Cost €
                    th Landed Cost 
                    th.th-total-cost Total Unit Cost €
                    th Actions
            tbody#bom-table-body

    #additional.content
        table#cost-table
            thead
                tr 
                    th Step     
                    th Description 
                    th Status
                    th Comments 
                    th Unit Cost 
                    th Discount 
                    th Quantity 
                    th.th-currency Cur 
                    th Unit Cost €
                    th Landed Cost 
                    th.th-total-cost Total Unit Cost €
                    th Actions
            tbody#cost-table-body

    #comparison.content   
        .chart
            .chart-tile Comparison with previous season
            canvas#chartPrevious
        .chart
            .chart-tile Comparison with same season models
            canvas#chartModels
        .chart
            .chart-tile Comparison of Cost Sheets
            canvas#chartSheets
        .chart
            .chart-tile Comparison of Margin across Factories
            canvas#chartMargin

    #cad.dialog
        .dialog-header
            span.dialog-prefix
            span Select 3D Reference
        #cad-bom-close.dialog-close.zmdi.zmdi-close
        #cad-bom.dialog-content

    #items.dialog
        .dialog-header 
            span.dialog-prefix
            span Select Existing Item
        #items-close.dialog-close.zmdi.zmdi-close
        .dialog-content
            .col-left 
                #nav-select-item.col-header(data-id='panel-items') Search Item
                #nav-select-cad-item.col-header(data-id='cad-items-list') Related CAD Item
                #clear-item.button.default Clear
            .col-right
                #cad-items-list
                #cad-items-progress
                    .progress
                        .bounce1
                        .bounce2
                        .bounce3
                #panel-items
                    #items-list
                    #items-progress
                        .progress
                            .bounce1
                            .bounce2
                            .bounce3

    #suppliers.dialog
        .dialog-header 
            span.dialog-prefix
            span Select Supplier
        #suppliers-close.dialog-close.zmdi.zmdi-close
        .dialog-content
            .col-left 
                #nav-select-supplier.col-header(data-id='suppliers-list') All Component Suppliers
                #nav-select-source.col-header(data-id='panel-sources') Existing Sources
                #clear-supplier.button.default Clear
            .col-right
                #suppliers-list
                #panel-sources
                    table
                        thead 
                            tr 
                                th Supplier 
                                th Supplier PN 
                                th Preferred
                                th Lead Time
                                th Unit Cost
                                th Discount
                                th Min Qty
                                th Max Qty
                                th Currency
                        tbody#sources-list
                    #sources-progress
                        .progress
                            .bounce1
                            .bounce2
                            .bounce3

        //- .dialog-footer
        //-     #request-submit.button.default Submit
        //-     .dialog-cancel.button Cancel

    #contents

        #details.content
            #details-list
            #details-process.loading
                .bounce1
                .bounce2
                .bounce3

        #bom.content
            .title Bill of Materials
            .content
                table#bom-tree(cellspacing='0')

        #files.content
            #files-list
            #files-process.loading
                .bounce1
                .bounce2
                .bounce3

        #log.content
            #log-list-left.log-list
            #log-list-right.log-list
            #log-process.loading
                .bounce1
                .bounce2
                .bounce3

    iframe#frame-download(style='display:none')

    #footer 

    #overlay
        .progress
            .bounce1
            .bounce2
            .bounce3
        