extends common

block head
    link(rel='stylesheet', href='/stylesheets/portfolio.css')
    link(rel='stylesheet', href='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/style.min.css')
    script(src='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/viewer3D.min.js')  
    script(src='../javascripts/ui.js')
    script(src='../javascripts/forge.js')
    script(src='../javascripts/portfolio.js')
    script.
        tenant="#{tenant}"
        wsId="#{wsId}"
        options="#{options}"

block content

    body.text-selection-off.surface-level-1

        #header.dark
            #header-logo
            #header-title=title
            #header-toolbar
                #header-search-icon.material-symbols-sharp.xs search
                input#header-search

        #landing

            #landing-recents.nav 
                .nav-title Recently Viewed Products
                #landing-tiles-recents.nav-tiles.tiles.wide.xxl
            #landing-lines.nav.selected 
                #landing-title.nav-title
                #landing-lines-tiles.nav-tiles.tiles.xxl
            #landing-pinned.nav 
                .nav-title Pinned Products
                #landing-tiles-pinned.nav-tiles.tiles.xl
            //- #landing-latest.nav 
            //-     .nav-title Latest Product Updates
            //-     #landing-tiles-latest.nav-tiles

            #landing-progress.progress
                    .bounce1
                    .bounce2
                    .bounce3

            #landing-prev.button.icon
            #landing-next.button.icon

            #landing-dots 
                .dot.ms#landing-dot-recents
                .dot.ms#landing-dot-lines.selected
                .dot.ms#landing-dot-pinned


        #search.screen
            .screen-header Search Results
            #search-results.screen-tiles.tiles.xl
            #search-close.material-symbols-sharp.l.hover close
            #search-progress.progress
                    .bounce1
                    .bounce2
                    .bounce3

        #lines.screen.with-panel 
            .screen-panel
                #lines-image.screen-image
                #lines-images.screen-images
                #lines-title.screen-title
                #lines-text.screen-text
            #lines-back.button.screen-back
            #lines-header.screen-header
            #lines-tiles.screen-tiles.tiles.wide.xl.reverse

        #products.screen.with-panel
            .screen-panel
                #products-image.screen-image
                #products-images.screen-images
                #products-line.screen-title
                #products-title.screen-title
                #products-text.screen-text
            #products-back.button.screen-back
            #products-header.screen-header
            #products-tiles.screen-tiles.tiles.xl
            #products-progress.progress
                    .bounce1
                    .bounce2
                    .bounce3

        #product.screen
            #viewer.viewer
            #viewer-messages.viewer.surface-level-2
                #viewer-empty
                    span.material-symbols-sharp view_in_ar
                    span No Viewble Found
                #viewer-progress.progress
                    .bounce1
                    .bounce2
                    .bounce3
            #gallery
                img#gallery-image
            #product-actions
                #product-close.button.material-symbols-sharp.xs close
                #product-bookmark.button.material-symbols-sharp.xs star
                #product-open.button.material-symbols-sharp.xs open_in_new
            #product-header
                #product-parents
                    #product-category.animation
                    #product-parents-separator
                    #product-line.animation
                #product-title.animation
            #product-data.product-panel
                #product-text.animation
                #product-images
                    #product-images-tab.tab Images
                    #product-images-list.list
                #product-specification 
                    #product-specification-tab.tab
                    #product-specification-list.list
                #product-files
                    #product-files-tab.tab
                    #product-files-list.list
                #product-variants
                    #product-variants-tab.tab
                    #product-variants-list.list
            #product-bom.product-panel.single
                #product-bom-tab.tab Bill of Materials
                #product-bom-list.list
                #product-bom-progress.progress
                    .bounce1
                    .bounce2
                    .bounce3

            #product-toolbar
                //- #product-tab-summary.product-action.selected Summary
                #product-tab-details.product-action.selected(data-id='product-data') Details
                #product-tab-bom.product-action(data-id='product-bom') Bill of Materials
        
        iframe#frame-download(style='display:none')

        #overlay
            .progress
                .bounce1
                .bounce2
                .bounce3

