extends common

block head
    link(rel='stylesheet', href='/stylesheets/projects.css')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js')
    script(src='https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js')
    script(src='../javascripts/ui.js')
    script(src='../javascripts/projects.js')
    script.
        tenant="#{tenant}"
        wsId="#{wsId}"
        options="#{options}"

block content

    body.surface-level-2-5 

        #header
            #header-logo
            #header-title= title
            #header-toolbar
                #header-avatar

        #charts.dashboard
            div
                .title Gates Timeline
                #gates.chart-graphic
            div.half
                .title Status Report
                table#table-status
                    tr
                        th Project
                        th Schedule
                        th Resources
                        th Budget
                        th Risks
            div.half
                .title KPIs
                table#table-kpis
                    tr
                        th Project
                        th Progress
                        th Budget
                        th Phase Progress
            div
                .title Planned Efforts
                #efforts.chart-graphic
            div
                .title Project Deviation
                #deviations.chart-graphic
            //- div(style='display:none;')
            //-     .chart-title Buffer Consumption
            //-     #buffers.chart-graphic

        #overlay
            .progress
                .bounce1
                .bounce2 
                .bounce3

