doctype html
html
    head

        title= title
    
        meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no')
        meta(charset='utf-8')
    
        link(rel='stylesheet', href='/stylesheets/framework/basic.css')
        link(rel='stylesheet', href='/stylesheets/framework/colors.css')
        link(rel='stylesheet', href='/stylesheets/framework/dialogs.css')
        link(rel='stylesheet', href='/stylesheets/framework/fonts.css')
        link(rel='stylesheet', href='/stylesheets/framework/styles.css')

        link(rel='stylesheet', href='/stylesheets/contents/item.css')
        link(rel='stylesheet', href='/stylesheets/contents/nav.css')
        link(rel='stylesheet', href='/stylesheets/contents/viewer.css')
        link(rel='stylesheet', href='/stylesheets/framework/vault.css')
        link(rel='stylesheet', href='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/style.min.css')
        link(rel='stylesheet', href='/stylesheets/framework/addins.css')
        
        link(rel='stylesheet', href='/stylesheets/custom.css')

        script(src='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/viewer3D.min.js') 
        script(src='/javascripts/libs/jquery-3.6.1.min')

        script(src='/javascripts/framework/utils.js')
        script(src='/javascripts/contents/viewer.js')
        script(src='/javascripts/contents/item.js')
        script(src='/javascripts/contents/nav.js')
        script(src='/javascripts/contents/vault.js')
        script(src='/javascripts/framework/addins.js')
        
        script(src='/javascripts/custom.js')

        script.
            documentTitle='#{title}'
            tenant='#{tenant}'
            tenantLink='#{tenantLink}'
            theme='#{theme}' 
            host='#{host}' 
            wsId='#{wsId}'
            dmsId='#{dmsId}' 
            fileId='#{fileId}' 
            vaultId='#{vaultId}' 
            revisionBias='#{revisionBias}' 
            options='#{options}'.split(',');
    
        block head

    block body