extends layout

block head
    
    script.
        config = !{JSON.stringify(config)};
    script(src='/javascripts/framework/search.js')

block body
    
    body.surface-level-1

        script.
            partNumber="#{partNumber}"
            title='#{title}'
            tenant='#{tenant}'
            revisionBias='#{revisionBias}' 
            options='#{options}' 

        .screen(style='top:0px')

            #progress.processing(style="top:calc(50% - 15px)")
                .bounce1
                .bounce2
                .bounce3
            #message(style='position:absolute;margin:auto;top:calc(50% + 40px);width:300px;left:calc(50% - 150px);text-align:center;')
                #text Searching for item
                #number(style='font-weight:bold;')= partNumber