extends common

block head
    link(rel='stylesheet', href='/stylesheets/compare.css')
    link(rel='stylesheet', href='/jquery-ui-1.12.1/jquery-ui.min.css')
    link(rel='stylesheet', href='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/style.min.css')
    script.
        tenant="#{tenant}"
    script.
        wsId="#{wsId}"
    script.
        dmsId="#{dmsId}" 
    script.
        options="#{options}"
block content
    script(src='/jquery-ui-1.12.1/jquery-ui.min.js')
    script(src='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/viewer3D.min.js') 
    //- script(src='/javascripts/MultipleModelUtil.js')
    script(src='/javascripts/ui.js')
    script(src='/javascripts/viewer.js')
    script(src='/javascripts/compare.js')
    
    #header
        #header-logo
        #header-title= title
        #header-subtitle
        #header-toolbar
            #toggle-layout.button Toggle Layout
            #button-settings.button.icon.zmdi.zmdi-settings
    
    #viewer

    #tabs 

        #tab-item-details.tab(data-id='details')
        #tab-files.tab(data-id='files')
        #tab-bom.tab(data-id='bom')
        #tab-log.tab(data-id='log')

    #contents

        #details.content
            #details-list
            #details-process.loading
                .bounce1
                .bounce2
                .bounce3

        #bom.content
            .title Bill of Materials
            .content
                table#bom-tree(cellspacing='0')

        #files.content
            #files-list
            #files-process.loading
                .bounce1
                .bounce2
                .bounce3

        #log.content
            #log-list-left.log-list
            #log-list-right.log-list
            #log-process.loading
                .bounce1
                .bounce2
                .bounce3

    #versions
        .title Versions
        #versions-list
        #versions-process.loading
            .bounce1
            .bounce2
            .bounce3

    iframe#frame-download(style='display:none')

    #overlay
        .progress
            .bounce1
            .bounce2
            .bounce3
        